<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <!-- <img src="/assets/shapes.svg" alt=""/> -->
     <img src="/logo.png" />
    <ion-card-header>
      <ion-card-subtitle>Get Started</ion-card-subtitle>
      <ion-card-title>Welcome to my Ionic Car Maloomat App</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        In this app you can get information about different cars from the cars list tab.
      </p>
    </ion-card-content>
  </ion-card>

  <ion-list lines="none">
    <ion-list-header>
      <ion-label>The front end of this app uses nodejs server at the back end, code of both uoloaded on 
        github.com/furqanalam61 connect with online mongoodb cluster, API created by myself and
        deployed through heroku </ion-label>
    </ion-list-header>
  </ion-list>
</ion-content>
